---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  margin-top: 0.5em;
}

.project-tags-inline {
  font-size: 0.7rem;
  line-height: 1.1;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}

.tag-badge {
  padding: 0.2em 0.6em;
  border-radius: 12px;
  font-size: 0.85em;
  font-weight: 500;
  color: white;
}

/* Colors by category (harmonized) */
  /* Initiatives / Parcours */
  .tag-post-doc,
  .tag-phd,
  .tag-independent-study { background-color: #d62728; }

  /* Langages & Outils */
  .tag-python,
  .tag-pytorch,
  .tag-matlab,
  .tag-simulink { background-color: #ff7f0e; }

  /* Modélisation, Simulation & IA */
  .tag-modeling,
  .tag-astrophysical-modeling,
  .tag-gravitational-wave-modeling,
  .tag-detector-simulation,
  .tag-population-synthesis,
  .tag-binary-population-synthesis,
  .tag-semi-analytic-modeling,
  .tag-monte-carlo-simulation,
  .tag-simulation,
  .tag-snr-calculation,
  .tag-stochastic-background-analysis,
  .tag-autoencoder,
  .tag-cnn,
  .tag-machine-learning,
  .tag-deep-learning { background-color: #9467bd; }

  /* Statistiques & Méthodes */
  .tag-statistics,
  .tag-statistical-inference,
  .tag-bayesian-analysis,
  .tag-hierarchical-bayesian-inference,
  .tag-regression,
  .tag-kernel-density-estimation,
  .tag-data-analysis,
  .tag-signal-processing { background-color: #e377c2; }

  /* Données & Domaines d'Analyse */
  .tag-parameter-distribution
  .tag-merger-rate,
  .tag-frequency-spectrum,
  .tag-time-series,
  .tag-redshift-evolution,
  .tag-stochastic-spectrum,
  .tag-black-holes-spin { background-color: #17becf; color: #063241; }

  /* Domaines Scientifiques */
  .tag-gravitational-wave-astrophysics,
  .tag-detection,
  .tag-statistical-astrophysics { background-color: #2ca02c; color: #063241; }





.tag-default {
  background-color: #cccccc;
}
